.app-menu-list {
  height: 100%;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.nav-first {
  background-color: #2c2e48;
  color: #f6f8fa;
  width: var(--first-nav-width);
  transition: width 0.05s linear;
}

.nav-first-item {
  cursor: pointer;
  margin: 0 8px 4px;
  font-size: 14px;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.85);

  display: flex;
  align-items: center;
  justify-content: space-between;

  & > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;

    & > span {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & > svg {
      flex-shrink: 0;
      margin-right: 8px;
    }
  }

  & > svg {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }

  & > a > svg {
    width: 20px;
    height: 20px;
  }

  &:hover {
    color: #ffffff;
  }

  &:hover:not(&-fold):not(&-unfold) {
    background-color: rgb(var(--primary-6));
  }

  &-fold:hover {
    background-color: rgb(var(--primary-6));
  }

  &:active {
    background-color: rgb(var(--primary-6)) !important;
  }

  &-active {
    color: #ffffff;
  }

  &-active:not(&-fold):not(&-unfold) {
    background-color: rgb(var(--primary-6));
  }

  &-collapsed {
    justify-content: center;

    & > a {
      justify-content: center;
      padding: 4px 0;
    }

    & > a > svg {
      margin-right: 0;
    }
  }

  &-collapsed:not(.show-title) > a {
    padding: 8px 0;
  }

  &.show-title > a {
    flex-direction: column;
    gap: 4px;
    font-size: 11px;
  }
}

.nav-second {
  width: var(--second-nav-width);
  background-color: #fafafa;
  transition: width 0.05s linear;
}
